JAVA_HOME=/Applications/Android Studio.app/Contents/jbr/Contents/Home
ANDROID_HOME=/Users/maizexin/Library/Android/sdk
ANDROID_SDK_ROOT=/Users/maizexin/Library/Android/sdk
NDK_HOME=/Users/maizexin/Library/Android/sdk/ndk/30.0.14904198
